<div class="col-md-4">
  <h1>Editar Categoria</h1>

  <%= render 'form', category: @category %>

  <%= link_to 'Mostrar', @category, :class => "btn btn-info" %>
  <%= link_to 'Voltar', categories_path, :class => "btn btn-primary" %>
</div>