<div class="col-md-3">
  <div class="panel panel-default panel-meal">
    <h2>Descrição: <%= @category.description %></h2>
  </div>

  <%= link_to 'Editar', edit_category_path(@category), :class => "btn btn-warning" %>
  <%= link_to 'Voltar', categories_path, :class => "btn btn-primary" %>
</div>